.btn-piece {
  padding: 0;
  min-width: 40px;
  max-width: 40px;
  min-height: 40px;
  max-height: 40px;
  border: 1px solid gray !important; 
  font: 1em sans-serif;
  transition: none !important;
}

.btnX {
  color: lightcoral;
}

.btnO {
  color: #177F75;
}

.btn-win {
  background-color: seagreen;
}
.not-focusable:focus {
  outline: none !important;
  box-shadow: none !important;
}

.btn-piece:hover {
  background-color: gold;
  cursor: pointer;
}

div {
  margin: 0;
  padding: 0;
  height: 40px;
}
.footer {
  text-align: center;
  letter-spacing: 0.6em;
  width: 100%;
  background-color: #999999;
}

.input-custom {
  margin: 150px auto;
  display: flex;
}

.board {
  margin: 100px auto;
  
}

.information b {
  letter-spacing: 1px;
}

.information .title {
  text-transform: uppercase;
  font-weight: bold;
}

.input-custom p {
  margin: auto;
}

.input-custom input {
  margin: auto;
  min-height: 150px;
  max-height: 150px;
  min-width: 150px;
  max-width: 150px;
  text-align: center;
  font: 2em sans-serif;
}

.modal-container {
  position: relative;
}
.modal-container .modal, .modal-container .modal-backdrop {
  position: absolute;
}
